.footer {
  display: grid;
  padding: 60px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  justify-content: center;
}

.footer__paragraph {
  margin: 0px auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}
